# Environment
.env

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
.nuxt/
.output/

.nuxt/types/imports.d.ts
.nuxt/nuxt.d.ts
.nuxt/nitro.json
.nuxt/manifest/meta/dev.json
.nuxt/manifest/latest.json
.nuxt/imports.d.ts
