{
  "swagger": "2.0",
  "info": {
    "title": "Lasso Workforce API",
    "description": "REST API for the Lasso Workforce platform",
    "termsOfService": "https://www.lasso.io/terms-of-use/",
    "contact": {
      "email": "support@lasso.io"
    },
    "version": "v1"
  },
  "host": "test1.lasso.io",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "LASSO-APIKEY"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/account_event_statuses": {
      "get": {
        "operationId": "account_event_statuses_list",
        "description": "An `account_event_status` resource represents a custom status for an `event` depending on the state of the     event (e.g. Confirmed, Invoice Created, etc.)",
        "parameters": [
          {
            "name": "external_code",
            "in": "query",
            "description": "external_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "slug",
            "in": "query",
            "description": "slug",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AccountEventStatus"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "account_event_statuses"
        ]
      },
      "post": {
        "operationId": "account_event_statuses_create",
        "description": "An `account_event_status` resource represents a custom status for an `event` depending on the state of the     event (e.g. Confirmed, Invoice Created, etc.)",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountEventStatus"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountEventStatus"
            }
          }
        },
        "tags": [
          "account_event_statuses"
        ]
      },
      "parameters": []
    },
    "/account_event_statuses/{id}": {
      "get": {
        "operationId": "account_event_statuses_read",
        "description": "An `account_event_status` resource represents a custom status for an `event` depending on the state of the     event (e.g. Confirmed, Invoice Created, etc.)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountEventStatus"
            }
          }
        },
        "tags": [
          "account_event_statuses"
        ]
      },
      "put": {
        "operationId": "account_event_statuses_update",
        "description": "An `account_event_status` resource represents a custom status for an `event` depending on the state of the     event (e.g. Confirmed, Invoice Created, etc.)",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountEventStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountEventStatus"
            }
          }
        },
        "tags": [
          "account_event_statuses"
        ]
      },
      "patch": {
        "operationId": "account_event_statuses_partial_update",
        "description": "An `account_event_status` resource represents a custom status for an `event` depending on the state of the     event (e.g. Confirmed, Invoice Created, etc.)",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountEventStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountEventStatus"
            }
          }
        },
        "tags": [
          "account_event_statuses"
        ]
      },
      "delete": {
        "operationId": "account_event_statuses_delete",
        "description": "An `account_event_status` resource represents a custom status for an `event` depending on the state of the     event (e.g. Confirmed, Invoice Created, etc.)",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "account_event_statuses"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/account_event_types": {
      "get": {
        "operationId": "account_event_types_list",
        "description": "",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": false,
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AccountEventType"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "account_event_types"
        ]
      },
      "post": {
        "operationId": "account_event_types_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountEventType"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountEventType"
            }
          }
        },
        "tags": [
          "account_event_types"
        ]
      },
      "parameters": []
    },
    "/account_event_types/{id}": {
      "get": {
        "operationId": "account_event_types_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountEventType"
            }
          }
        },
        "tags": [
          "account_event_types"
        ]
      },
      "put": {
        "operationId": "account_event_types_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountEventType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountEventType"
            }
          }
        },
        "tags": [
          "account_event_types"
        ]
      },
      "patch": {
        "operationId": "account_event_types_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountEventType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountEventType"
            }
          }
        },
        "tags": [
          "account_event_types"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this account event type.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/account_user_role": {
      "get": {
        "operationId": "account_user_role_list",
        "description": "An `account_user_role` represents the role for a user.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AccountUserRole"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "account_user_role"
        ]
      },
      "parameters": []
    },
    "/account_user_role/{id}": {
      "get": {
        "operationId": "account_user_role_read",
        "description": "An `account_user_role` represents the role for a user.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountUserRole"
            }
          }
        },
        "tags": [
          "account_user_role"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/airports": {
      "get": {
        "operationId": "airports_list",
        "description": "An `airport` resource represents a geographic location associated with air travel and is     used for travel quotes and determining the `crew` resource local `market` resource.\nResource information includes the name, location and common look-up codes for `airport`s.     `airport` resources are system defined, read-only and have a many-to-one relationship with `market` resources.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Airport"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "airports"
        ]
      },
      "parameters": []
    },
    "/airports/{id}": {
      "get": {
        "operationId": "airports_read",
        "description": "An `airport` resource represents a geographic location associated with air travel and is     used for travel quotes and determining the `crew` resource local `market` resource.\nResource information includes the name, location and common look-up codes for `airport`s.     `airport` resources are system defined, read-only and have a many-to-one relationship with `market` resources.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Airport"
            }
          }
        },
        "tags": [
          "airports"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for the `airport` resource.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/client_addresses": {
      "get": {
        "operationId": "client_addresses_list",
        "description": "The `client_address` resource represents a physical address associated with a Client. A `client`     may have multiple unique `client_address` resources associated with it.",
        "parameters": [
          {
            "name": "external_code",
            "in": "query",
            "description": "external_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "client",
            "in": "query",
            "description": "client",
            "required": false,
            "type": "string"
          },
          {
            "name": "company_name",
            "in": "query",
            "description": "company_name",
            "required": false,
            "type": "string"
          },
          {
            "name": "contact_name",
            "in": "query",
            "description": "contact_name",
            "required": false,
            "type": "string"
          },
          {
            "name": "street1",
            "in": "query",
            "description": "street1",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__gt",
            "in": "query",
            "description": "db_date_updated__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__lt",
            "in": "query",
            "description": "db_date_updated__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ClientAddress"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "client_addresses"
        ]
      },
      "post": {
        "operationId": "client_addresses_create",
        "description": "The `client_address` resource represents a physical address associated with a Client. A `client`     may have multiple unique `client_address` resources associated with it.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientAddress"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientAddress"
            }
          }
        },
        "tags": [
          "client_addresses"
        ]
      },
      "parameters": []
    },
    "/client_addresses/{id}": {
      "get": {
        "operationId": "client_addresses_read",
        "description": "The `client_address` resource represents a physical address associated with a Client. A `client`     may have multiple unique `client_address` resources associated with it.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientAddress"
            }
          }
        },
        "tags": [
          "client_addresses"
        ]
      },
      "put": {
        "operationId": "client_addresses_update",
        "description": "The `client_address` resource represents a physical address associated with a Client. A `client`     may have multiple unique `client_address` resources associated with it.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientAddress"
            }
          }
        },
        "tags": [
          "client_addresses"
        ]
      },
      "patch": {
        "operationId": "client_addresses_partial_update",
        "description": "The `client_address` resource represents a physical address associated with a Client. A `client`     may have multiple unique `client_address` resources associated with it.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientAddress"
            }
          }
        },
        "tags": [
          "client_addresses"
        ]
      },
      "delete": {
        "operationId": "client_addresses_delete",
        "description": "The `client_address` resource represents a physical address associated with a Client. A `client`     may have multiple unique `client_address` resources associated with it.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "client_addresses"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/client_contacts": {
      "get": {
        "operationId": "client_contacts_list",
        "description": "`client_contact` represents contact information for entities associated with a `client`.     The earliest-created `client_contact` of type 'main' is included in `client` list views     as the associated `client`'s primary contact information.",
        "parameters": [
          {
            "name": "client",
            "in": "query",
            "description": "client",
            "required": false,
            "type": "string"
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "first_name",
            "required": false,
            "type": "string"
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "last_name",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "email",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__gt",
            "in": "query",
            "description": "db_date_updated__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__lt",
            "in": "query",
            "description": "db_date_updated__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ClientContact"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "client_contacts"
        ]
      },
      "post": {
        "operationId": "client_contacts_create",
        "description": "`client_contact` represents contact information for entities associated with a `client`.     The earliest-created `client_contact` of type 'main' is included in `client` list views     as the associated `client`'s primary contact information.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientContact"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientContact"
            }
          }
        },
        "tags": [
          "client_contacts"
        ]
      },
      "parameters": []
    },
    "/client_contacts/{id}": {
      "get": {
        "operationId": "client_contacts_read",
        "description": "`client_contact` represents contact information for entities associated with a `client`.     The earliest-created `client_contact` of type 'main' is included in `client` list views     as the associated `client`'s primary contact information.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientContact"
            }
          }
        },
        "tags": [
          "client_contacts"
        ]
      },
      "put": {
        "operationId": "client_contacts_update",
        "description": "`client_contact` represents contact information for entities associated with a `client`.     The earliest-created `client_contact` of type 'main' is included in `client` list views     as the associated `client`'s primary contact information.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientContact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientContact"
            }
          }
        },
        "tags": [
          "client_contacts"
        ]
      },
      "patch": {
        "operationId": "client_contacts_partial_update",
        "description": "`client_contact` represents contact information for entities associated with a `client`.     The earliest-created `client_contact` of type 'main' is included in `client` list views     as the associated `client`'s primary contact information.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientContact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientContact"
            }
          }
        },
        "tags": [
          "client_contacts"
        ]
      },
      "delete": {
        "operationId": "client_contacts_delete",
        "description": "`client_contact` represents contact information for entities associated with a `client`.     The earliest-created `client_contact` of type 'main' is included in `client` list views     as the associated `client`'s primary contact information.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "client_contacts"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/client_notes": {
      "post": {
        "operationId": "client_notes_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientNote"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientNote"
            }
          }
        },
        "tags": [
          "client_notes"
        ]
      },
      "parameters": []
    },
    "/client_notes/{id}": {
      "get": {
        "operationId": "client_notes_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientNote"
            }
          }
        },
        "tags": [
          "client_notes"
        ]
      },
      "put": {
        "operationId": "client_notes_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientNote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientNote"
            }
          }
        },
        "tags": [
          "client_notes"
        ]
      },
      "patch": {
        "operationId": "client_notes_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientNote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientNote"
            }
          }
        },
        "tags": [
          "client_notes"
        ]
      },
      "delete": {
        "operationId": "client_notes_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "client_notes"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/clients": {
      "get": {
        "operationId": "clients_list",
        "description": "The clients resource represents your company’s clients and their associated contact and     address information. The clients resource is one of the four main resources in the LASSO REST API.     The clients resource has two related one-to-many resources: client_address and client_contacts.",
        "parameters": [
          {
            "name": "external_code",
            "in": "query",
            "description": "external_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__gt",
            "in": "query",
            "description": "db_date_updated__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__lt",
            "in": "query",
            "description": "db_date_updated__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Client"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "clients"
        ]
      },
      "post": {
        "operationId": "clients_create",
        "description": "The clients resource represents your company’s clients and their associated contact and     address information. The clients resource is one of the four main resources in the LASSO REST API.     The clients resource has two related one-to-many resources: client_address and client_contacts.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        },
        "tags": [
          "clients"
        ]
      },
      "parameters": []
    },
    "/clients/{id}": {
      "get": {
        "operationId": "clients_read",
        "description": "The clients resource represents your company’s clients and their associated contact and     address information. The clients resource is one of the four main resources in the LASSO REST API.     The clients resource has two related one-to-many resources: client_address and client_contacts.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        },
        "tags": [
          "clients"
        ]
      },
      "put": {
        "operationId": "clients_update",
        "description": "The clients resource represents your company’s clients and their associated contact and     address information. The clients resource is one of the four main resources in the LASSO REST API.     The clients resource has two related one-to-many resources: client_address and client_contacts.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        },
        "tags": [
          "clients"
        ]
      },
      "patch": {
        "operationId": "clients_partial_update",
        "description": "The clients resource represents your company’s clients and their associated contact and     address information. The clients resource is one of the four main resources in the LASSO REST API.     The clients resource has two related one-to-many resources: client_address and client_contacts.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        },
        "tags": [
          "clients"
        ]
      },
      "delete": {
        "operationId": "clients_delete",
        "description": "The clients resource represents your company’s clients and their associated contact and     address information. The clients resource is one of the four main resources in the LASSO REST API.     The clients resource has two related one-to-many resources: client_address and client_contacts.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "clients"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/crew": {
      "get": {
        "operationId": "crew_list",
        "description": "A crew resource represents crew members or staff members and have associated general information, notes,\npositions, tags, and addresses. The crew resource is one of the four main resources in the LASSO REST API.\nA crew resource has four related one-to-many resources:\ncrew_addresses, crew_contacts, crew_positions, and crew_tags.\nThe crew resource also has one one-to-one resource: crew_settings.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": false,
            "type": "string"
          },
          {
            "name": "external_code",
            "in": "query",
            "description": "external_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "email",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": false,
            "type": "string",
            "enum": [
              "preregister",
              "pending",
              "active",
              "inactive"
            ]
          },
          {
            "name": "us_state_of_residence",
            "in": "query",
            "description": "us_state_of_residence",
            "required": false,
            "type": "string",
            "enum": [
              "AL",
              "AK",
              "AS",
              "AZ",
              "AR",
              "AA",
              "AE",
              "AP",
              "CA",
              "CO",
              "CT",
              "DE",
              "DC",
              "FL",
              "GA",
              "GU",
              "HI",
              "ID",
              "IL",
              "IN",
              "IA",
              "KS",
              "KY",
              "LA",
              "ME",
              "MD",
              "MA",
              "MI",
              "MN",
              "MS",
              "MO",
              "MT",
              "NE",
              "NV",
              "NH",
              "NJ",
              "NM",
              "NY",
              "NC",
              "ND",
              "MP",
              "OH",
              "OK",
              "OR",
              "PA",
              "PR",
              "RI",
              "SC",
              "SD",
              "TN",
              "TX",
              "UT",
              "VT",
              "VI",
              "VA",
              "WA",
              "WV",
              "WI",
              "WY"
            ]
          },
          {
            "name": "db_date_updated__gt",
            "in": "query",
            "description": "db_date_updated__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__lt",
            "in": "query",
            "description": "db_date_updated__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Crew"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "crew"
        ]
      },
      "post": {
        "operationId": "crew_create",
        "description": "A crew resource represents crew members or staff members and have associated general information, notes,\npositions, tags, and addresses. The crew resource is one of the four main resources in the LASSO REST API.\nA crew resource has four related one-to-many resources:\ncrew_addresses, crew_contacts, crew_positions, and crew_tags.\nThe crew resource also has one one-to-one resource: crew_settings.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Crew"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Crew"
            }
          }
        },
        "tags": [
          "crew"
        ]
      },
      "parameters": []
    },
    "/crew/{id}": {
      "get": {
        "operationId": "crew_read",
        "description": "A crew resource represents crew members or staff members and have associated general information, notes,\npositions, tags, and addresses. The crew resource is one of the four main resources in the LASSO REST API.\nA crew resource has four related one-to-many resources:\ncrew_addresses, crew_contacts, crew_positions, and crew_tags.\nThe crew resource also has one one-to-one resource: crew_settings.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Crew"
            }
          }
        },
        "tags": [
          "crew"
        ]
      },
      "put": {
        "operationId": "crew_update",
        "description": "A crew resource represents crew members or staff members and have associated general information, notes,\npositions, tags, and addresses. The crew resource is one of the four main resources in the LASSO REST API.\nA crew resource has four related one-to-many resources:\ncrew_addresses, crew_contacts, crew_positions, and crew_tags.\nThe crew resource also has one one-to-one resource: crew_settings.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Crew"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Crew"
            }
          }
        },
        "tags": [
          "crew"
        ]
      },
      "patch": {
        "operationId": "crew_partial_update",
        "description": "A crew resource represents crew members or staff members and have associated general information, notes,\npositions, tags, and addresses. The crew resource is one of the four main resources in the LASSO REST API.\nA crew resource has four related one-to-many resources:\ncrew_addresses, crew_contacts, crew_positions, and crew_tags.\nThe crew resource also has one one-to-one resource: crew_settings.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Crew"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Crew"
            }
          }
        },
        "tags": [
          "crew"
        ]
      },
      "delete": {
        "operationId": "crew_delete",
        "description": "A crew resource represents crew members or staff members and have associated general information, notes,\npositions, tags, and addresses. The crew resource is one of the four main resources in the LASSO REST API.\nA crew resource has four related one-to-many resources:\ncrew_addresses, crew_contacts, crew_positions, and crew_tags.\nThe crew resource also has one one-to-one resource: crew_settings.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "crew"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/crew_addresses": {
      "get": {
        "operationId": "crew_addresses_list",
        "description": "The `crew_address` resource represents a physical address associated with a `crew` member. A `crew`     may have multiple `crew_address` resources associated with it.",
        "parameters": [
          {
            "name": "external_code",
            "in": "query",
            "description": "external_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "crew",
            "in": "query",
            "description": "crew",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__gt",
            "in": "query",
            "description": "db_date_updated__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__lt",
            "in": "query",
            "description": "db_date_updated__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CrewAddress"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "crew_addresses"
        ]
      },
      "post": {
        "operationId": "crew_addresses_create",
        "description": "The `crew_address` resource represents a physical address associated with a `crew` member. A `crew`     may have multiple `crew_address` resources associated with it.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewAddress"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewAddress"
            }
          }
        },
        "tags": [
          "crew_addresses"
        ]
      },
      "parameters": []
    },
    "/crew_addresses/{id}": {
      "get": {
        "operationId": "crew_addresses_read",
        "description": "The `crew_address` resource represents a physical address associated with a `crew` member. A `crew`     may have multiple `crew_address` resources associated with it.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewAddress"
            }
          }
        },
        "tags": [
          "crew_addresses"
        ]
      },
      "put": {
        "operationId": "crew_addresses_update",
        "description": "The `crew_address` resource represents a physical address associated with a `crew` member. A `crew`     may have multiple `crew_address` resources associated with it.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewAddress"
            }
          }
        },
        "tags": [
          "crew_addresses"
        ]
      },
      "patch": {
        "operationId": "crew_addresses_partial_update",
        "description": "The `crew_address` resource represents a physical address associated with a `crew` member. A `crew`     may have multiple `crew_address` resources associated with it.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewAddress"
            }
          }
        },
        "tags": [
          "crew_addresses"
        ]
      },
      "delete": {
        "operationId": "crew_addresses_delete",
        "description": "The `crew_address` resource represents a physical address associated with a `crew` member. A `crew`     may have multiple `crew_address` resources associated with it.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "crew_addresses"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/crew_core": {
      "get": {
        "operationId": "crew_core_list",
        "description": "A crew resource represents core crew members properties.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": false,
            "type": "string"
          },
          {
            "name": "external_code",
            "in": "query",
            "description": "external_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "email",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": false,
            "type": "string",
            "enum": [
              "preregister",
              "pending",
              "active",
              "inactive"
            ]
          },
          {
            "name": "db_date_updated__gt",
            "in": "query",
            "description": "db_date_updated__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__lt",
            "in": "query",
            "description": "db_date_updated__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CrewCore"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "crew_core"
        ]
      },
      "parameters": []
    },
    "/crew_core/{id}": {
      "get": {
        "operationId": "crew_core_read",
        "description": "A crew resource represents core crew members properties.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewCore"
            }
          }
        },
        "tags": [
          "crew_core"
        ]
      },
      "put": {
        "operationId": "crew_core_update",
        "description": "A crew resource represents core crew members properties.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewCore"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewCore"
            }
          }
        },
        "tags": [
          "crew_core"
        ]
      },
      "patch": {
        "operationId": "crew_core_partial_update",
        "description": "A crew resource represents core crew members properties.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewCore"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewCore"
            }
          }
        },
        "tags": [
          "crew_core"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/crew_notes": {
      "post": {
        "operationId": "crew_notes_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewNote"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewNote"
            }
          }
        },
        "tags": [
          "crew_notes"
        ]
      },
      "parameters": []
    },
    "/crew_notes/{id}": {
      "get": {
        "operationId": "crew_notes_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewNote"
            }
          }
        },
        "tags": [
          "crew_notes"
        ]
      },
      "put": {
        "operationId": "crew_notes_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewNote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewNote"
            }
          }
        },
        "tags": [
          "crew_notes"
        ]
      },
      "patch": {
        "operationId": "crew_notes_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewNote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewNote"
            }
          }
        },
        "tags": [
          "crew_notes"
        ]
      },
      "delete": {
        "operationId": "crew_notes_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "crew_notes"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/crew_positions": {
      "post": {
        "operationId": "crew_positions_create",
        "description": "`crew_position` describes a `crew`'s relationship to a company `position`.     A `crew` may have relationships with many company `position`s, and a company may associate multiple `crew` members     with a `position` allowing granular control over each `crew`'s varying per-`position` pay rates, ratings,     and status.  A `crew` must have a `crew_position` of status \"approved\" to be eligible for `event`     crewing for a given `position`.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewPosition"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewPosition"
            }
          }
        },
        "tags": [
          "crew_positions"
        ]
      },
      "parameters": []
    },
    "/crew_positions/{id}": {
      "get": {
        "operationId": "crew_positions_read",
        "description": "`crew_position` describes a `crew`'s relationship to a company `position`.     A `crew` may have relationships with many company `position`s, and a company may associate multiple `crew` members     with a `position` allowing granular control over each `crew`'s varying per-`position` pay rates, ratings,     and status.  A `crew` must have a `crew_position` of status \"approved\" to be eligible for `event`     crewing for a given `position`.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewPosition"
            }
          }
        },
        "tags": [
          "crew_positions"
        ]
      },
      "put": {
        "operationId": "crew_positions_update",
        "description": "`crew_position` describes a `crew`'s relationship to a company `position`.     A `crew` may have relationships with many company `position`s, and a company may associate multiple `crew` members     with a `position` allowing granular control over each `crew`'s varying per-`position` pay rates, ratings,     and status.  A `crew` must have a `crew_position` of status \"approved\" to be eligible for `event`     crewing for a given `position`.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewPosition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewPosition"
            }
          }
        },
        "tags": [
          "crew_positions"
        ]
      },
      "patch": {
        "operationId": "crew_positions_partial_update",
        "description": "`crew_position` describes a `crew`'s relationship to a company `position`.     A `crew` may have relationships with many company `position`s, and a company may associate multiple `crew` members     with a `position` allowing granular control over each `crew`'s varying per-`position` pay rates, ratings,     and status.  A `crew` must have a `crew_position` of status \"approved\" to be eligible for `event`     crewing for a given `position`.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewPosition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewPosition"
            }
          }
        },
        "tags": [
          "crew_positions"
        ]
      },
      "delete": {
        "operationId": "crew_positions_delete",
        "description": "`crew_position` describes a `crew`'s relationship to a company `position`.     A `crew` may have relationships with many company `position`s, and a company may associate multiple `crew` members     with a `position` allowing granular control over each `crew`'s varying per-`position` pay rates, ratings,     and status.  A `crew` must have a `crew_position` of status \"approved\" to be eligible for `event`     crewing for a given `position`.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "crew_positions"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/crew_ratings": {
      "post": {
        "operationId": "crew_ratings_create",
        "description": "A `crew_rating` resource represents the rating for a crew associated with a position on an event.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewRating"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewRating"
            }
          }
        },
        "tags": [
          "crew_ratings"
        ]
      },
      "parameters": []
    },
    "/crew_ratings/{id}": {
      "get": {
        "operationId": "crew_ratings_read",
        "description": "A `crew_rating` resource represents the rating for a crew associated with a position on an event.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewRating"
            }
          }
        },
        "tags": [
          "crew_ratings"
        ]
      },
      "put": {
        "operationId": "crew_ratings_update",
        "description": "A `crew_rating` resource represents the rating for a crew associated with a position on an event.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewRating"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewRating"
            }
          }
        },
        "tags": [
          "crew_ratings"
        ]
      },
      "patch": {
        "operationId": "crew_ratings_partial_update",
        "description": "A `crew_rating` resource represents the rating for a crew associated with a position on an event.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewRating"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewRating"
            }
          }
        },
        "tags": [
          "crew_ratings"
        ]
      },
      "delete": {
        "operationId": "crew_ratings_delete",
        "description": "A `crew_rating` resource represents the rating for a crew associated with a position on an event.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "crew_ratings"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/crew_settings": {
      "post": {
        "operationId": "crew_settings_create",
        "description": "A `crew_settings` resource represents various settings for a `crew` member. Used for things like\ndate of birth, disabling types of notifications, and travel settings.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewSettings"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewSettings"
            }
          }
        },
        "tags": [
          "crew_settings"
        ]
      },
      "parameters": []
    },
    "/crew_settings/{id}": {
      "get": {
        "operationId": "crew_settings_read",
        "description": "A `crew_settings` resource represents various settings for a `crew` member. Used for things like\ndate of birth, disabling types of notifications, and travel settings.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewSettings"
            }
          }
        },
        "tags": [
          "crew_settings"
        ]
      },
      "put": {
        "operationId": "crew_settings_update",
        "description": "A `crew_settings` resource represents various settings for a `crew` member. Used for things like\ndate of birth, disabling types of notifications, and travel settings.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewSettings"
            }
          }
        },
        "tags": [
          "crew_settings"
        ]
      },
      "patch": {
        "operationId": "crew_settings_partial_update",
        "description": "A `crew_settings` resource represents various settings for a `crew` member. Used for things like\ndate of birth, disabling types of notifications, and travel settings.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewSettings"
            }
          }
        },
        "tags": [
          "crew_settings"
        ]
      },
      "delete": {
        "operationId": "crew_settings_delete",
        "description": "A `crew_settings` resource represents various settings for a `crew` member. Used for things like\ndate of birth, disabling types of notifications, and travel settings.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "crew_settings"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/crew_tags": {
      "get": {
        "operationId": "crew_tags_list",
        "description": "A `crew_tag` resource represents custom attributes for a `crew` member. Useful for things like     certain models of equipment, skills, travel preferences, or other data useful to the business.",
        "parameters": [
          {
            "name": "crew",
            "in": "query",
            "description": "crew",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__gt",
            "in": "query",
            "description": "db_date_updated__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__lt",
            "in": "query",
            "description": "db_date_updated__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CrewTag"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "crew_tags"
        ]
      },
      "post": {
        "operationId": "crew_tags_create",
        "description": "A `crew_tag` resource represents custom attributes for a `crew` member. Useful for things like     certain models of equipment, skills, travel preferences, or other data useful to the business.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewTag"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewTag"
            }
          }
        },
        "tags": [
          "crew_tags"
        ]
      },
      "parameters": []
    },
    "/crew_tags/{id}": {
      "get": {
        "operationId": "crew_tags_read",
        "description": "A `crew_tag` resource represents custom attributes for a `crew` member. Useful for things like     certain models of equipment, skills, travel preferences, or other data useful to the business.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewTag"
            }
          }
        },
        "tags": [
          "crew_tags"
        ]
      },
      "put": {
        "operationId": "crew_tags_update",
        "description": "A `crew_tag` resource represents custom attributes for a `crew` member. Useful for things like     certain models of equipment, skills, travel preferences, or other data useful to the business.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewTag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewTag"
            }
          }
        },
        "tags": [
          "crew_tags"
        ]
      },
      "patch": {
        "operationId": "crew_tags_partial_update",
        "description": "A `crew_tag` resource represents custom attributes for a `crew` member. Useful for things like     certain models of equipment, skills, travel preferences, or other data useful to the business.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewTag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewTag"
            }
          }
        },
        "tags": [
          "crew_tags"
        ]
      },
      "delete": {
        "operationId": "crew_tags_delete",
        "description": "A `crew_tag` resource represents custom attributes for a `crew` member. Useful for things like     certain models of equipment, skills, travel preferences, or other data useful to the business.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "crew_tags"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/crew_unavailabilities": {
      "get": {
        "operationId": "crew_unavailabilities_list",
        "description": "A `crew_unavailability` blocks out dates a `crew` is not available to work.",
        "parameters": [
          {
            "name": "crew",
            "in": "query",
            "description": "crew",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CrewUnavailability"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "crew_unavailabilities"
        ]
      },
      "post": {
        "operationId": "crew_unavailabilities_create",
        "description": "A `crew_unavailability` blocks out dates a `crew` is not available to work.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewUnavailability"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewUnavailability"
            }
          }
        },
        "tags": [
          "crew_unavailabilities"
        ]
      },
      "parameters": []
    },
    "/crew_unavailabilities/{id}": {
      "get": {
        "operationId": "crew_unavailabilities_read",
        "description": "A `crew_unavailability` blocks out dates a `crew` is not available to work.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewUnavailability"
            }
          }
        },
        "tags": [
          "crew_unavailabilities"
        ]
      },
      "put": {
        "operationId": "crew_unavailabilities_update",
        "description": "A `crew_unavailability` blocks out dates a `crew` is not available to work.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewUnavailability"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewUnavailability"
            }
          }
        },
        "tags": [
          "crew_unavailabilities"
        ]
      },
      "patch": {
        "operationId": "crew_unavailabilities_partial_update",
        "description": "A `crew_unavailability` blocks out dates a `crew` is not available to work.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrewUnavailability"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrewUnavailability"
            }
          }
        },
        "tags": [
          "crew_unavailabilities"
        ]
      },
      "delete": {
        "operationId": "crew_unavailabilities_delete",
        "description": "A `crew_unavailability` blocks out dates a `crew` is not available to work.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "crew_unavailabilities"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/custom_field_responses": {
      "get": {
        "operationId": "custom_field_responses_list",
        "description": "A `custom_field_response` resource represents the crew data associated with a custom field",
        "parameters": [
          {
            "name": "crew",
            "in": "query",
            "description": "crew",
            "required": false,
            "type": "string"
          },
          {
            "name": "question",
            "in": "query",
            "description": "question",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomFieldResponse"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "custom_field_responses"
        ]
      },
      "post": {
        "operationId": "custom_field_responses_create",
        "description": "A `custom_field_response` resource represents the crew data associated with a custom field",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldResponse"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomFieldResponse"
            }
          }
        },
        "tags": [
          "custom_field_responses"
        ]
      },
      "parameters": []
    },
    "/custom_field_responses/{id}": {
      "get": {
        "operationId": "custom_field_responses_read",
        "description": "A `custom_field_response` resource represents the crew data associated with a custom field",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomFieldResponse"
            }
          }
        },
        "tags": [
          "custom_field_responses"
        ]
      },
      "put": {
        "operationId": "custom_field_responses_update",
        "description": "A `custom_field_response` resource represents the crew data associated with a custom field",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomFieldResponse"
            }
          }
        },
        "tags": [
          "custom_field_responses"
        ]
      },
      "patch": {
        "operationId": "custom_field_responses_partial_update",
        "description": "A `custom_field_response` resource represents the crew data associated with a custom field",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomFieldResponse"
            }
          }
        },
        "tags": [
          "custom_field_responses"
        ]
      },
      "delete": {
        "operationId": "custom_field_responses_delete",
        "description": "A `custom_field_response` resource represents the crew data associated with a custom field",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "custom_field_responses"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/custom_fields": {
      "get": {
        "operationId": "custom_fields_list",
        "description": "A `custom_field` resource represents the configuration for custom fields that can be associated with a crew\ngathered through the registration process or used internally to track additional data for a crew.",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "term",
            "required": false,
            "type": "string"
          },
          {
            "name": "label",
            "in": "query",
            "description": "label",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomField"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "custom_fields"
        ]
      },
      "post": {
        "operationId": "custom_fields_create",
        "description": "A `custom_field` resource represents the configuration for custom fields that can be associated with a crew\ngathered through the registration process or used internally to track additional data for a crew.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        },
        "tags": [
          "custom_fields"
        ]
      },
      "parameters": []
    },
    "/custom_fields/{id}": {
      "get": {
        "operationId": "custom_fields_read",
        "description": "A `custom_field` resource represents the configuration for custom fields that can be associated with a crew\ngathered through the registration process or used internally to track additional data for a crew.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        },
        "tags": [
          "custom_fields"
        ]
      },
      "put": {
        "operationId": "custom_fields_update",
        "description": "A `custom_field` resource represents the configuration for custom fields that can be associated with a crew\ngathered through the registration process or used internally to track additional data for a crew.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        },
        "tags": [
          "custom_fields"
        ]
      },
      "patch": {
        "operationId": "custom_fields_partial_update",
        "description": "A `custom_field` resource represents the configuration for custom fields that can be associated with a crew\ngathered through the registration process or used internally to track additional data for a crew.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        },
        "tags": [
          "custom_fields"
        ]
      },
      "delete": {
        "operationId": "custom_fields_delete",
        "description": "A `custom_field` resource represents the configuration for custom fields that can be associated with a crew\ngathered through the registration process or used internally to track additional data for a crew.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "custom_fields"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The LASSO unique identifier for this resource.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/divisions": {
      "get": {
        "operationId": "divisions_list",
        "description": "A `division` resource provides the capability to group crew and events for reporting, filtering, and calendaring.     It is specific to the company and mainly used by larger enterprises.",
        "parameters": [
          {
            "name": "external_code",
            "in": "query",
            "description": "external_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__gt",
            "in": "query",
            "description": "db_date_updated__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "db_date_updated__lt",
            "in": "query",
            "description": "db_date_updated__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Division"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "divisions"
        ]
      },
      "post": {
        "operationId": "divisions_create",
        "description": "A `division` resource provides the capability to group crew and events for reporting, filtering, and calendaring.     It is specific to the company and mainly used by larger enterprises.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Division"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Division"
            }
          }
        },
        "tags": [
          "divisions"
        ]
      },
      "parameters": []
    },
    "/divisions/{id}": {
      "get": {
        "operationId": "divisions_read",
        "description": "A `division` resource provides the capability to group crew and events for reporting, filtering, and calendaring.     It is specific to the company and mainly used by larger enterprises.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Division"
            }
          }
        },
        "tags": [
          "divisions"
        ]
      },
      "put": {
        "operationId": "divisions_update",
        "description": "A `division` resource provides the capability to group crew and events for reporting, filtering, and calendaring.     It is specific to the company and mainly used by larger enterprises.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Division"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Division"
            }
          }
        },
        "tags": [
          "divisions"
        ]
      },
      "patch": {
        "operationId": "divisions_partial_update",
        "description": "A `division` resource provides the capability to group crew and events for reporting, filtering, and calendaring.     It is specific to the company and mainly used by larger enterprises.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Division"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Division"
            }
[...]
